.Hotel_card
    margin: 0 auto
    padding: 20px
    max-height: 410px
    width: 400px
    border-radius: 30px
    background-color: #ffffffcc
    &-name
        font-family: 'IM Fell Great Primer SC', serif
        font-size: 30px
        text-align: center
    &_wrapper
        margin: 15px 0 15px 0
        display: grid
        grid-template: 80px 80px / 47.5% 47.5%
        column-gap: 5%
    &-img
        background-color: grey
        grid-row: 1/3
    &-localization
        text-align: center
    &-btn
        font-weight: 700
        font-size: 18px
        width: 70%
        height: 40px
        margin: 0 auto
        background-color: #DAAD86
        border-radius: 30px
        cursor: pointer
        transition: 0.5s all
        &:hover
            transform: scale(1.03)
            background-color: #41ad2e
    &-stars
        padding: 0 15px 0 15px
        display: flex
        justify-content: center
    &-review
        text-align: center
        border: 1px solid #000000
        border-radius: 30px
        width: 100%
        min-height: 170px
    &-author
        margin-top: 5px
        font-size: 13px
        text-align: center
    &-delete
        font-weight: 900
        font-size: 20px
        width: inherit
        background-color: unset
        border: none
        text-decoration: underline
        &--wrapper
            width: 100px
            margin: 0 auto

.fa-star
    font-size: 25px
    padding-left: 3px
    color: #e9bb26

@media ( min-width:320px) and ( max-width:480px)

    .Hotel_card
        max-height: unset
        width: 86%
        &_wrapper
            margin: 15px 0 15px 0
            display: grid
            grid-template-row: 80px 80px 80px 80px
            grid-template-columns: unset
            column-gap: 5%
        &-img
            grid-row: 1/3
        &-localization
            margin: 10px 0
            grid-row: 3/4
            text-align: center
        &-stars
            grid-row: 4/5
            padding: 0 15px 0 15px
            display: flex
            justify-content: center
