.MyAccount
    padding-top: 150px
    &_title
        font-size: 40px
        text-align: center
        color: white
    &_logout
        font-size: 20px
        border: none
        color: #ffffffa7
        text-decoration: underline
        background-color: unset
        &:hover
            color: white
        &-container
            display: flex
            justify-content: center
    &_hr
        width: 40%
        margin: 50px auto
    &_subtitle
        font-size: 40px
        text-align: center
        color: white
