.red
    background-color: #D20606

.SignUp_error
    width: 520px
    margin: 20px auto 0 auto
    padding: 3px 0 3px0
    grid-column: 1/3
    font-size: 20px
    text-align: center
    border: 2px solid red
    border-radius: 30px
