html, body, * {
    font-family: 'Itim', cursive;
    margin:0;
    padding: 0;
}

.container {
    width:85%;
    margin: 0 auto;
}

.content {
    width: 100%;
    min-height: 100vh;
    background-image: url(./../public/background.png);
    background-attachment:fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

svg path {
    fill:white;
    stroke:inherit;
    stroke-width:inherit;
    }
    


